<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>変数を使ってプログラミング</title>
  </head>
  <body>
    <h3>ロボットにあなたの事を教えて下さい</h3>
    <p>フォームの中にあなたの事を書いてみましょう。</p>

    <img src="/robot.png" alt="ロボット画像">
    <p>あなたの名前は<%= @name %>です。</p>
    <p>誕生日は<%= @birth %>です。</p>
    <p>すきな食べ物は<%= @food %>です。</p>

    <form action="/" method="GET">
      <label>あなたのお名前: <input type="text" name="name" placeholder="ここに名前を書いてください"></label>
      <label>あなたの誕生日: <input type="date" name="birth" placeholder="ここに誕生日を書いてください"></label>
      <label>好きな食べ物: <input type="text" name="food" placeholder="好きな食べ物を書いてください"></label>
      <input type="submit" value="送信">
    </form>
  </body>
</html>